spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: medee

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

logging:
  level:
    com.medee: INFO
    org.springframework.security: WARN

